[alias]
	s = "status"
	lp = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --color=always --date=human
    # tiny
    l = "lp -10"
	d = diff --stat
    # Rollback specific files until commit
    # 1 - commit to rollback to
    # 2.. - files
	rollback = "!f() { \
	  git checkout $1 -- ${@:2}; \
	}; f"
    # Use fzf to choose from branches
    sw = "!f() { \
      git branch ${@} | sed -re 's/\\*//g' -e 's/^ *//g' -e 's/^origin\\///g' | fzf --height=70% --layout=reverse | xargs -I {} git switch {}; \
    }; f"
   amd = commit --amend --no-edit
[core]
	editor = vim
[init]
	defaultBranch = main
