[alias]
	s = "status"
	l = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --color=always --date=human
	d = diff --stat
	rollback = "!f() { \
	  git checkout $1 -- ${@:2}; \
	}; f"
[core]
	editor = vim
[init]
	defaultBranch = main
